<p>Bonjour {{user.prenom_role}} {{user.nom_role}},</p>

<p>Vous venez d'effectuer une demande de modification de votre mot de passe d'accès aux outils GeoNature.</p>

<p>Pour vous attribuer un nouveau mot de passe veuillez suivre ce lien : <a href="{{url_confirmation}}?token={{token}}">modifier mon mot de passe</a></p>

<p>Si vous n'avez plus besoin de modifier votre mot de passe, vous pouvez ignorer ce message.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez contacter l'administrateur de la base.</p>

<p>Bonne connexion,</p>

<p>GeoNature</p>