<p>Bonjour {{user.prenom_role}} {{user.nom_role}},</p>

<p>Vous vous êtes inscrit sur l'outil GeoNature récemment.</p>

<p>Pour finaliser votre inscription cliquez sur le lien de confirmation ci-après et laissez-vous guider :</p>

<p><a href="">Cliquez ici pour valider votre email</a></p>

<p>Une fois inscrit sur GeoNature, vous pourrez saisir vos données et contribuer à la connaissance, les visualisez et bien plus encore.</p>

<p>Merci,</p>

<p>GeoNature</p>