

            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }} 
                
                    <div class = "row">

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                             
                            
                                <label>{{ form.id_tag_type.label }}</label>
                                {{ form.id_tag_type(size=32, class="form-control", value = id_tag_type) }}
                               
                        </div>
    
                        
                                                
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                             
                            
                                <label>{{ form.tag_type_name.label }}</label>
                                {{ form.tag_type_name(size=32, class="form-control", value = tag_type_name) }}
                           
                        </div>

                       

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                                <label>{{ form.tag_type_desc.label }}</label>
                            {{ form.tag_type_desc(size=32, class="form-control", value = tag_type_desc) }}
                        
                        </div>
                                              
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <p></p>
                                </div>
                    
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                               
                            
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                {% for m in messages %}
                                    <li>{{ m }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% endwith %}
                        
                        </div>
                        
                       
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <p></p>
                                </div>
                        
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
                            {{ form.submit(class="form-control") }}
                         
                        </div>             
                     </div>
                    </form>

