

        <p>Affichage de: {{nom_role}}</p>

            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }} 
                
                    <div class = "row">
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                              
                        
                            <label>{{ form.nom_role.label }}</label>
                            {{ form.nom_role(size=32, class="form-control", value = nom_role) }}
                        
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                             
                            
                                <label>{{ form.prenom_role.label }}</label>
                                {{ form.prenom_role(size=32, class="form-control",  value = prenom_role) }}
                           
                        </div>
        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                                <label>{{ form.id_organisme.label }}</label>
                            {{ form.id_organisme(  class="custom-select", id="inputGroupSelect01", value = organisme) }}
                        
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    
                                <label>{{ form.email.label }}</label>
                                {{ form.email(size = 32, class="form-control", value = email)}}
                             </div>
                            
            
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            
                                    <label>{{ form.pass_plus.label }}</label>
                                {{ form.pass_plus(size=32, class="form-control") }}
                            
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    
                                    <label>{{ form.mdpconf.label }}</label>
                                {{ form.mdpconf(size=32, class="form-control") }}
                                
                            </div>
            
                            
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                
                                <label>{{ form.desc_role.label }}</label>
                                {{ form.desc_role(size=32, class="form-control", value = desc_role )}}
                            
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                
                                <label>{{ form.remarques.label }}</label>
                                {{ form.remarques(size=32, class="form-control", value = remarques )}}
                            
                            </div>
        
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                               
                            
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                {% for m in messages %}
                                    <li>{{ m }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% endwith %}
                        
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <p></p>
                            </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
                            {{ form.submit(class="form-control") }}
                         
                        </div>             
                     </div>
                    </form>


               
