var version = '1.3.3';
//Si un suffixe d'email est fourni, une auto-complétion de l'adresse mail sera proposé lors de la saisie d'un utilisateur
//Si ce comportement n'est pas adpaté à votre contexte vous pouvez remplacer la valeur proposée par une chaine vide : var emailSuffix = '';
var emailSuffix = 'mondomaine.fr';
