# Database settings
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/usershubdb"
SQLALCHEMY_TRACK_MODIFICATIONS = False
URL_APPLICATION = 'http://localhost:5001'

# liste de site depuis lequels on accepte des requetes croisées
URLS_COR = ['http://localhost:5000']

SECRET_KEY = 'super secret key'

""" ID of application Geonature"""

ID_GEONATURE = 3

""" ID of application Userhub"""

ID_APP = 1

""" Authentification crypting method (hash or md5) """
PASS_METHOD = 'hash'
COOKIE_EXPIRATION = 3600
COOKIE_AUTORENEW = True

""" ID of type Tag """

ID_OBJECT = 1
ID_ACTION = 2
ID_PRIVILEGE = 3
ID_LIST = 4
ID_SCOPE = 5

""" ID of tag cruved in your database """

ID_TAG_CREATE = 11
ID_TAG_READ = 12
ID_TAG_UPDATE = 13
ID_TAG_VALIDATE = 14
ID_TAG_EXPORT = 15
ID_TAG_DELETE = 16

""" ID of tag scope in your database """

ID_TAG_MYDATA = 21
ID_TAG_MYORGDATA = 22
ID_TAG_ALLDATA = 23

""" SERVER """
PORT = 5001
DEBUG = False

ACTIVATE_API = True
ACTIVATE_APP = True
