<?php 
   
	$serveur='localhost'; 
	$user='geonatuser';
	$passe='monpassachanger'; 
	$base='usershubdb';
	$port=5432;
    
	$dbconn = pg_connect("host=$serveur port=$port dbname=$base user=$user password=$passe") 
or die('Connexion impossible : ' . pg_last_error());  
   
  
?>
