{
"databases":
    [
        {
            "dbfunname":"Utilisateurs"
            ,"host":"localhost"
            ,"dbname":"usershubdb"
            ,"user":"usershubadmin"
            ,"pass":"monpassachanger"
            ,"port":5432
        }
        ,{
            "dbfunname":"Geonature"
            ,"host":"localhost"
            ,"dbname":"geonaturedb"
            ,"user":"geonatadmin"
            ,"pass":"monpassachanger"
            ,"port":5432
        }
    ]
}
