###########################
### PostgreSQL settings ###
###########################

# set to dev to install usershub in development mode
mode=prod

# Effacer la base de donnée existante lors de la réinstallation
drop_apps_db=false
# Host de la base de données de l'application
db_host=localhost
# Port du serveur PostgreSQL
pg_port=5432
# Nom de la base de données de l'application
db_name=usershubdb
# Nom de l'utilisateur propriétaire de la BDD de l'application
user_pg=geonatuser
# User propriétaire de la BDD de l'application
user_pg_pass=monpassachanger
# Intégrer les données minimales (Applications et tags)
insert_minimal_data=true
# Intégrer les données exemple (Role, groupe, organismes et correspondances)
insert_sample_data=true

############################
### Application settings ###
############################

# URL de l'application
url_application=http://mon_url.fr


#######################
### Python settings ###
#######################

# Note : n'est compatible qu'avec python3
python_path=/usr/bin/python3

#########################
### Gunicorn settings ###
#########################

app_name=usershub2
venv_dir=venv
gun_num_workers=4
gun_host=0.0.0.0
gun_port=5001
