<!DOCTYPE html>
<html>
   {% include "header.html" %}   

    <body>
        
        

        <p></p>
        <p></p>
        <form action= {{ url_for('user.users') }} method="post">
                <button type="submit" class="btn btn-primary">Info_utilisateurs</button>
        </form>
        
        <p></p>
        <p></p>

        <form action= {{ url_for('user.user') }} method="get">
                <button type="submit" class="btn btn-primary">Add_user</button>
        </form>

        <p></p>
        <p></p>

        <form action= {{ url_for('organisme.organismes') }} method="get">
                <button type="submit" class="btn btn-primary">Info Organismes</button>
        </form>

        <p></p>
        <p></p>

        <form action= {{ url_for('organisme.organisme') }} method="get">
                <button type="submit" class="btn btn-primary">Add_organisme</button>
        </form>

        <p></p>
        <p></p>

        <form action= {{ url_for('groupe.groupes') }} method="get">
                <button type="submit" class="btn btn-primary">info groupe</button>
        </form>

        <p></p>
        <p></p>

        <form action= {{ url_for('groupe.groupe') }} method="get">
                <button type="submit" class="btn btn-primary">add Groupe</button>
        </form>

        <p></p>
        <p></p>

        <form action= {{ url_for('application.applications') }} method="get">
                <button type="submit" class="btn btn-primary">Info Appli</button>
        </form>

     
        <p></p>
        <p></p>

        <form action= {{ url_for('application.application') }} method="get">
                <button type="submit" class="btn btn-primary">add appli</button>
        </form>  
        
        <p></p>
        <p></p>

        <form action= {{ url_for('profils.profils') }} method="get">
                <button type="submit" class="btn btn-primary">Info profil</button>
        </form>

     
        <p></p>
        <p></p>

        <form action= {{ url_for('profils.profil') }} method="get">
                <button type="submit" class="btn btn-primary">add profil</button>
        </form>

        <p></p>
        <p></p>

        <form action= {{ url_for('profil_type.profil_types') }} method="get">
                <button type="submit" class="btn btn-primary">Info profil_type</button>
        </form>

     
        <p></p>
        <p></p>

        <form action= {{ url_for('profil_type.profil_type') }} method="get">
                <button type="submit" class="btn btn-primary">add profil_type</button>
        </form>

    </body>
</html>