<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>

        {% include "head-appli.html" %}

        {% set path = test %}
        {% include path %}

        
        

    <div id='table'>
   
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th scope="col">#</th>
                {% for nom in entete %}
                <th scope="col">{{nom}}</th>
                {% endfor %}
                <th scope="col">Modification</th>
                <th scope="col">Suppression</th>
            </tr> 

        </thead>
        <tbody>
            {% for elt in table %}
            <tr>   
            <th scope="row">{{loop.index}}</th>
                {% for nom in ligne %}  
               
                    <td>{{elt[nom]}}</td>
               
                    
                {% endfor %}
               
                <td>
                        <a href="{{cheminM}}{{elt[cle]}}"  > <button type="submit" class="btn btn-secondary " >Modification  </button></a>

                </td>
                <td>
                    <a href="{{cheminS}}{{elt[cle]}}"  ><button type="submit" class="btn btn-danger" >Supprimer</button></a> 
                </td>
               
                
                  
                </tr>
            {% endfor %}
           
        </tbody>
    </table>
    </div>



    
</body>
</html>


