<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>

        {% include "head-appli.html" %}

            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }} 
                
                    <div class = "row">
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                              
                        
                            <label>{{ form.nom_application.label }}</label>
                            {{ form.nom_application(size=32, class="form-control") }}
                        
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                             
                            
                                <label>{{ form.desc_application.label }}</label>
                                {{ form.desc_application(size=32, class="form-control") }}
                           
                        </div>

                       

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                                <label>{{ form.id_parent.label }}</label>
                            {{ form.id_parent(  class="custom-select", id="inputGroupSelect01") }}
                        
                        </div>
                                              
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <p></p>
                                </div>
                    
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                               
                            
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <script>
                                    var messages = {{ messages | safe  }};
                                    for (var i=0; i<messages.length; i++) {
                                      alert(messages[i]);
                                    }
                                </script>
                            {% endif %}
                            {% endwith %}
                        
                        </div>
                        
                       
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <p></p>
                                </div>
                        
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <p></p>
                                    </div>
                            
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
                            {{ form.submit(class="form-control btn-danger") }}
                         
                        </div>             
                     </div>
                    </form>


                </body>
                </html>