<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>

        {% include "head-appli.html" %}
        <div class= "container main-zone ng-scope">
            <h2 class ="marge">
                CRUVED
            </h2>
        <div class="row ">
                <div class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
                <h4>{{name_list}}</h4>   <br></br>      
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                
                <div class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
                        <h4>{{name_role}}</h4> 
                </div>
            </div>  

        <div class="row ">
        <div class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
        <table class="table table-bordered table-striped table-sm " >
                <thead>
                    <tr>
                            {% for name in fLine %}
                            <th scope="col">{{name}}</th>
                            {% endfor %}
                            <th scope="col">Cruved</th>
                        
                    </tr> 

                </thead>
                <tbody>
                    {% for elt in table %}
                    <tr >   
                        {% for name in line %}
                        {% set groups = elt[group] %}  
                        {% if groups == 'True' %}    
                            <td class = "table-primary" >{{elt[name]}}</td>
                        {% else %}
                            <td >{{elt[name]}}</td>
                        {% endif%} 
                        {% endfor %}
                        <td>
                                <a href="{{pathC}}{{elt[key]}}"  > <button type="submit" class="btn btn-secondary btn-sm" >Voir CRUVED  </button></a>
        
                        </td>
                       
                        </tr>
                    {% endfor %}
                   
                </tbody>
                </table>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <p><br/><br/><br/></p>
            
            </div>
                <div class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
                
                        <table class="table table-bordered table-striped table-sm " >
                                <thead>
                                    <tr>
                                            {% for name in fLineCruved %}
                                            <th scope="col">{{name}}</th>
                                            {% endfor %}
                                            <th></th>
                                        
                                    </tr> 
                
                                </thead>
                                <tbody>
                                    {% for elt in tableCruved %}
                                    <tr >   
                                        {% for name in lineCruved %}
                                            <td >{{elt[name]}}</td>
                                        {% endfor %}
                                        <td>
                                                <a href="{{pathU}}{{id_r}}{{pathUu}}{{id_app}}"  > <button type="submit" class="btn btn-secondary btn-sm" >Editer  </button></a>
                        
                                        </td>
                                       
                                        </tr>
                                    {% endfor %}
                                   
                                </tbody>
                                

                                </table>
                                <a href="{{pathA}}{{id_r}}"  > <button type="submit" class="btn btn-success btn-sm" >Ajouter un Cruved pour une application  </button></a>
                 </div>
                </div>
            </div>
                
    </body>
</html>


