<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>
                {% include "head-appli.html" %}

        <form method="post" class = "marge">
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }} 
                        <h3>{{title}}</h3>


                <div class = "row forms">        
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id = "selectnom">
                        <label>{{ form_na.full_name_role.label }}</label>
                        {{ form_na.full_name_role(class="custom-select", id="inputGroupSelect03", disabled=True) }}
                        <p></p>
                </div>

                {% if active == 'True' %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>{{ form_na.app.label }}</label>
                        {{ form_na.app(class="custom-select", id="inputGroupSelect04", disabled = True) }}
                        <p></p>
                </div>
                {% else %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>{{ form_na.app.label }}</label>
                        {{ form_na.app(class="custom-select", id="inputGroupSelect04") }}
                        <p></p>
                </div>
                {%endif%}


                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>{{ form.scopeCreate.label }}</label>
                        {{ form.scopeCreate(class="custom-select", id="inputGroupSelect02") }}
                        <p></p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>{{ form.scopeRead.label }}</label>
                        {{ form.scopeRead(class="custom-select", id="inputGroupSelect02") }}
                        <p></p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>{{ form.scopeUpdate.label }}</label>
                        {{ form.scopeUpdate(class="custom-select", id="inputGroupSelect02") }}
                        <p></p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>{{ form.scopeValidate.label }}</label>
                        {{ form.scopeValidate(class="custom-select", id="inputGroupSelect02") }}
                        <p></p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>{{ form.scopeExport.label }}</label>
                        {{ form.scopeExport(class="custom-select", id="inputGroupSelect01") }}
                        <p></p>

                        <p></p>
                </div>
                

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>{{ form.scopeDelete.label }}</label>
                        {{ form.scopeDelete(class="custom-select", id="inputGroupSelect01") }}
                        <p></p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p></p>
                        </div>
                
            
                <div class="row justify-content-center">

                        {{ form.submit(class="form-control btn-success") }}    
                        </div>  
         </form>       
    </body>
</html>


