{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {%
include "header.html" %} {% include "head-appli.html" %} {% block content %}

<form method="post" class="container" novalidate>
  {{ form.hidden_tag() }} {{ form.csrf_token }}
  <h3>{{ title }}</h3>

  <div class="row forms card">
    {{ wtf.form_field(form_na.app,  id="inputGroupSelect04", disabled = True) }}

    {{ wtf.form_field(form_na.full_name_role,  id="inputGroupSelect04") }}

    {% if active == 'True' %}

    {{ wtf.form_field(form_na.app,  id="inputGroupSelect04", disabled = True) }}

    {% else %}

    {{ wtf.form_field(form_na.app,  id="inputGroupSelect04") }}

    {%endif%}

    {{ wtf.form_field(form.scopeCreate,  id="inputGroupSelect04") }}
    {{ wtf.form_field(form.scopeRead,  id="inputGroupSelect04") }}
    {{ wtf.form_field(form.scopeUpdate,  id="inputGroupSelect04") }}

    {{ wtf.form_field(form.scopeValidate,  id="inputGroupSelect04") }}
    {{ wtf.form_field(form.scopeExport,  id="inputGroupSelect04") }}
    {{ wtf.form_field(form.scopeDelete,  id="inputGroupSelect04") }}

    {{ wtf.form_field(form.submit, class="form-control btn-success", id="inputGroupSelect04") }}
  </div>
</form>

{% endblock %}
