<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>

        {% include "head-appli.html" %}
    
    <form method="post" class = "marge">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }} 
        <h3>{{title}}</h3>

        
            <div class = "row forms">
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      
                
                    <label>{{ form.nom_role.label }}</label>
                    {{ form.nom_role(size=32, class="form-control") }}
                    <p></p>
                
                </div>
                

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p></p>
                    </div>

                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                     
                    
                        <label>{{ form.desc_role.label }}</label>
                        {{ form.desc_role(size=32, class="form-control") }}
                        <p></p>
                   
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            
                                
                                
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <script>
                            var messages = {{ messages | safe  }};
                            for (var i=0; i<messages.length; i++) {
                              alert(messages[i]);
                            }
                        </script>
                    {% endif %}
                    {% endwith %}
                    
                    </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                
                        <p>

                        </p>
                
                </div>

                
                
               
            
        
                <div class="row justify-content-center">
    
                    {{ form.submit(class="form-control btn-success") }}    
                </div>  

        </div>
            
        </body>
        </html>


