{% import "bootstrap/wtf.html" as wtf %} 
{% include "header.html" %} 
{% include "head-appli.html" %} 

{% block content %}
  <form method="post" class="container" novalidate>
    {{ form.hidden_tag() }} {{ form.csrf_token }}
    <h3 class="margin-neg">{{ title }}</h3>

    <div class="row card forms">
      {% with messages = get_flashed_messages() %} 
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            Certains champs contiennent des erreurs
            {{ messages }}
          </div>
        {% endif %} 
      {% endwith %}

      {{ wtf.form_field(form.nom_role) }}
      {{ wtf.form_field(form.desc_role) }}
      {{ wtf.form_field(form.submit, class="form-control btn-success") }}
    </div>
  </form>
{% endblock %}
