<div class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 25px;">
 <a class="navbar-brand" href="#">UsersHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        {% if session.get('current_user', False) %}
          <ul class="nav navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('user.users') }}">Utilisateurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('organisme.organisms') }}">Organismes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('groupe.groups') }}">Groupes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('liste.lists') }}">Listes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('application.applications') }}">Applications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profils.profils') }}">Profils</a>
              </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link"  title="Déconnexion" href="{{ url_for('auth.logout') }}?redirect={{config.URL_APPLICATION}}">
                  {{session['current_user']['identifiant']}}
                  <i class="fa fa-sign-out font-medium" aria-hidden="true"></i>
                </a>
              </li>
          </ul>
          {% endif %}
      </div>
    </div>