<nav class="navbar navbar-collapse navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#">UsersHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.users') }}">Utilisateurs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('organisme.organisms') }}">Organismes</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('groupe.groups') }}">Groupes</a>
            </li>                   
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('application.applications') }}">Applications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tags.tags') }}">Tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('cruved.CRUVED') }}" >CRUVED</a>
            </li>

            
          </ul>
        </div>
      </nav>

      <p></p>