{% include "librairies.html" %}   
{% include "head-appli.html" %}

{% block content %}
<div class="container main-zone ng-scope ">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><img class="img-fluid" src="{{org['url_logo']}}"><h3>Organisme "{{org['nom_organisme']}}"</h3></li>
        <li class="list-group-item"><strong>Adresse :</strong> {{org['adresse_organisme']}}<br />{{org['cp_organisme']}} {{org['ville_organisme']}}</li>
        <li class="list-group-item"><strong>Téléphone :</strong> {{org['tel_organisme']}}</li>
        <li class="list-group-item"><strong>Fax :</strong> {{org['fax_organisme']}}</li>
        <li class="list-group-item"><strong>Email :</strong> <a href="mailto:{{org['email_organisme']}}">{{org['email_organisme']}}</a></li>
        <li class="list-group-item"><strong>Site web :</strong> <a href="{{org['url_organisme']}}" target="_blank">{{org['url_organisme']}}</a></li>
        <li class="list-group-item"><strong>Utilisateurs de l'organisme "{{org['nom_organisme']}}" :</strong>
                {% for user in users %}
                    {{user}}, 
                {% endfor %}   
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
