{% include "librairies.html" %}
{% include "head-appli.html" %}

{%set is_members = members|length > 0 %}
{%set is_lists = lists|length > 0 %}
{%set is_rights = rights|length > 0 %}
<div class="container main-zone ng-scope ">
    <h3>{{group['nom_role']}} </h3>
    <small> {{group['desc_role']}}</small>
    <br />
    <hr />
    <br />
    <div class="card">
        <div class="card-header bg-secondary text-white" data-toggle="collapse" data-target="#memberslist">
            <h5>Liste des utilisateurs membres du groupe 
                <i class="fa fa-chevron-down float-right" aria-hidden="true"></i>

                <a href="{{url_application}}/group/members/{{group['id_role']}}">
                    <button type="submit" class="btn btn-outline-success btn-sm text-white float-right">
                        Modifier les membres du groupe "{{group['nom_role']}}"
                    </button>
                </a>
            </h5>
        </div>
        <div id="memberslist" class="card-body collapse show">
        {% if is_members %}
            <table class="table table-borderless table-striped table-hover">
                <thead class="">
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in members %}
                        <tr>
                            <td>
                                {% set is_group = user.groupe %}
                                {% if is_group %}
                                    <a href="{{url_application}}/group/info/{{user.id_role}}">
                                        {{user.nom_role}}</a>
                                {% else %}
                                    <a href="{{url_application}}/user/info/{{user.id_role}}">
                                        {%if user.prenom_role %}
                                            {{user.prenom_role}}
                                        {% endif %}
                                        {{user.nom_role}}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.email %}
                                    <a href="mailto:{{user.email}}">{{user.email}}</a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-info ml-5">Le groupe ne comporte aucun membre.</p>
        {% endif %}
    </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header bg-secondary text-white" data-toggle="collapse" data-target="#listlist">
            <h5>Listes auxquelles le groupe appartient <i class="fa fa-chevron-down float-right" aria-hidden="true"></i></h5>
        </div>
        <div id="listlist" class="card-body collapse">
            {% if is_lists %}
                <ul class="list-group list-group-flush">
                {% for list in lists %}
                    <li class="list-group-item">
                        <a href="{{url_application}}/list/info/{{list.id_liste}}">{{list.nom_liste}}</a> -
                        <a href="{{url_application}}/list/members/{{list.id_liste}}">
                            <button type="submit" class="btn btn-outline-success btn-sm float-right">
                                Modifier la composition de la liste "{{list.nom_liste}}"
                            </button>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-info ml-5">Le groupe n'appartient à aucune liste.</p>
            {% endif %}
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header bg-secondary text-white" data-toggle="collapse" data-target="#profillist">
            <h5>Profils du groupe dans les applications <i class="fa fa-chevron-down float-right" aria-hidden="true"></i></h5>
        </div>
        <div id="profillist" class="card-body collapse">
            {% if is_rights %}
                <ul class="list-group list-group-flush">
                    {% for right in rights %}
                        <li class="list-group-item">
                            Application "<a href="{{url_application}}/application/info/{{right['application_rel']['id_application']}}">{{right['application_rel']['nom_application']}}</a>" :
                            {{right['profil_rel']['nom_profil']}} (code {{right['profil_rel']['code_profil']}})
                            <a href="{{url_application}}/application/update/role_profil/{{right['id_role']}}/{{right['id_application']}}">
                                <button type="submit" class="btn btn-outline-success btn-sm float-right">
                                    Modifier le profil du groupe pour l'application "{{right['application_rel']['nom_application']}}"
                                </button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-info ml-5">Le groupe ne dispose d'aucun profil dans les applications.</p>
            {% endif %}
        </div>
    </div>
    <br />
    <a href="{{pathU}}{{group['id_role']}}">
        <button type="submit" class="btn btn-success btn-block">
            Modifier le groupe
        </button>
    </a>
</div>