{% include "librairies.html" %}
{% include "head-appli.html" %}

{%set is_identifiant = user['identifiant'] is not none and user['identifiant'] != '' %}
{%set is_uuid = user['uuid_role'] is not none and user['uuid_role'] != '' %}
{%set is_organisme = organisme is not none and organisme['nom_organisme'] != '' %}
{%set is_desc = user['desc_role'] is not none and user['desc_role'] != '' %}
{%set is_remarques = user['remarques'] is not none and user['remarques'] != '' %}
{%set is_champs_addi = user['champs_addi'] is not none and user['champs_addi'] != '' %}
{%set is_mail = user['email'] is not none and user['email'] != '' %}
{%set is_group = groups|length > 0 %}
{%set is_list = lists|length > 0 %}
{%set is_right = rights|length > 0 %}
<div class="container main-zone ng-scope ">
    <h3>Utilisateur "{{user['fullname']}}"</h3>
    <div class="ml-5">
        <small>
            {% if is_desc %}
                {{user['desc_role']}}
            {% endif %}
            {% if is_uuid %}
                <br /><strong>UUID :</strong> {{user['uuid_role']}}
            {% endif %}
            {% if is_identifiant %}
                <br /><strong>Identifiant :</strong> {{user['identifiant']}}
            {% endif %}
            {% if is_mail %}
                <br /><strong>Email :</strong> <a href="mailto:{{user['email']}}">{{user['email']}}</a>
            {% endif %}
            {% if is_organisme %}
                <br /><strong>Organisme :</strong> {{organisme.nom_organisme}}
            {% endif %}
            {% if is_remarques %}
                <br /><strong>Remarques :</strong> {{user['remarques']}}
            {% endif %}
            {% if is_champs_addi %}
                <dl class="list-def-inline">
                {% for key, value in user.champs_addi.items() %}
                    <dt>{{ key|pretty_json_key|capitalize }} : </dt>
                    <dd>
                        {% if value is iterable and (value is not string and value is not mapping) %}
                            <ul>
                                {% for item in value %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% elif value is mapping %}
                            <dl class="list-def-inline">
                            {% for key, value in value.items() %}
                                <dt>{{ key|e|capitalize }} : </dt>
                                <dd>{{ value }} </dd>
                            {% endfor %}
                            </dl>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </dd>
                {% endfor %}
                </dl>
            {% endif %}
        </small>
    </div>

    <br />
    <hr />
    <br />
    <div class="card">
        <div class="card-header bg-secondary text-white" data-toggle="collapse" data-target="#grouplist">
            <h5 class="bg-secondary">Liste des groupes auxquels appartient l'utilisateur <i class="fa fa-chevron-down float-right" aria-hidden="true"></i></h5>
        </div>
        <div id="grouplist"  class="card-body collapse">
            {%if is_group %}
                <ul class="list-group list-group-flush">
                    {% for group in groups %}
                        <li class="list-group-item">
                            <a href="{{url_application}}/group/info/{{group.id_role}}">{{group.nom_role}}</a>
                            <a href="{{url_application}}/group/members/{{group['id_role']}}">
                                <button type="submit" class="btn btn-outline-success btn-sm float-right">
                                    Modifier les membres du groupe "{{group['nom_role']}}"
                                </button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-info ml-5">L'utilisateur n'appartient à aucun groupe.</p>
            {% endif %}
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header bg-secondary text-white" data-toggle="collapse" data-target="#listlist">
            <h5>Liste des listes auxquelles appartient l'utilisateur <i class="fa fa-chevron-down float-right" aria-hidden="true"></i></h5>
        </div>
        <div id="listlist" class="card-body collapse">
            {%if is_list %}
                <ul class="list-group list-group-flush">
                    {% for list in lists %}
                        <li class="list-group-item">
                            <a href="{{url_application}}/list/info/{{list.id_liste}}">{{list.nom_liste}}</a>
                            <a href="{{url_application}}/list/members/{{list.id_liste}}">
                                <button type="submit" class="btn btn-outline-success btn-sm float-right">
                                    Modifier les membres de la liste "{{list['nom_liste']}}"
                                </button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-info ml-5">L'utilisateur n'appartient à aucune liste.</p>
            {% endif %}
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header bg-secondary text-white" data-toggle="collapse" data-target="#profillist">
            <h5>Liste des applications pour lesquelles l'utilisateur dispose d'un profil <i class="fa fa-chevron-down float-right" aria-hidden="true"></i></h5>
        </div>
        <div id="profillist"  class="card-body collapse">
            {%if is_right %}
                <ul class="list-group list-group-flush">
                    {% for right in rights %}
                        <li class="list-group-item">
                            Application "<a href="{{url_application}}/application/info/{{right['application_rel']['id_application']}}">{{right['application_rel']['nom_application']}}</a>" :
                            {{right['profil_rel']['nom_profil']}} (code {{right['profil_rel']['code_profil']}})
                            <a href="{{url_application}}/application/update/role_profil/{{right['id_role']}}/{{right['id_application']}}">
                                <button type="submit" class="btn btn-outline-success btn-sm float-right">
                                    Modifier le profil de l'utilisateur dans l'application "{{right['application_rel']['nom_application']}}"
                                </button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-info ml-5">L'utilisateur ne dispose d'aucune autorisation dans les applications.</p>
            {% endif %}
        </div>
    </div>
    <br />
    <a href="{{pathU}}{{user['id_role']}}">
        <button type="submit" class="btn btn-success btn-block">
            Modifier l'utilisateur
        </button>
    </a>
</div>