<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>

        {% include "head-appli.html" %}

        <div class="container main-zone ng-scope ">

           

           <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3>{{elt['nom_organisme']}}</h3></li>
                <li class="list-group-item"><strong>Adresse :</strong> {{elt['adresse_organisme']}}</li>
                <li class="list-group-item"><strong>Code postal :</strong> {{elt['cp_organisme']}}</li>
                <li class="list-group-item"><strong>Ville :</strong> {{elt['ville_organisme']}}</li>
                <li class="list-group-item"><strong>Téléphone :</strong> {{elt['tel_organisme']}}</li>
                <li class="list-group-item"><strong>Email :</strong> {{elt['email_organisme']}}</li>
                <li class="list-group-item"><strong>Membre :</strong>
                {% for usr in tab_u %}
                    {{usr}}, 
                {% endfor %}   
                </li>
                <li class="list-group-item"><strong>Tag :</strong>
                {% for t in tag %}
                    {{t}}, 
                {% endfor %}  
                </li>
                  

              </ul>

        </div>

    </body>
</html>