{% include "librairies.html" %}   
{% include "head-appli.html" %}

<div class="container main-zone ng-scope ">
    <h3>{{user['nom_role']}} {{user['prenom_role']}}</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>UUID :</strong> {{user['uuid_role']}}</li>
        <li class="list-group-item"><strong>Identifiant :</strong> {{user['identifiant']}}</li>
        <li class="list-group-item"><strong>Organisme :</strong> {{organisme.nom_organisme}}</li>
        <li class="list-group-item"><strong>Email :</strong> <a href="mailto:{{user['email']}}">{{user['email']}}</a></li>
        <li class="list-group-item"><strong>Groupes :</strong>
            {% for group in groups %}
                <a href="{{url_application}}/group/update/{{group.id_role}}">{{group.nom_role}}</a> -
            {% endfor %}   
        </li>
        <li class="list-group-item"><strong>Listes :</strong>
            {% for list in lists %}
                <a href="{{url_application}}/list/update/{{list.id_liste}}">{{list.nom_liste}}</a> - 
            {% endfor %}
        </li>
        
        <li class="list-group-item"><strong>Profils dans les applications :</strong> <br /><br />
            {% for right in rights %}
                <p style="margin-left: 30px">

                    Application "{{right['application_rel']['nom_application']}}" : 
                    {{right['profil_rel']['nom_profil']}} (code {{right['profil_rel']['code_profil']}})
                    <a href="{{url_application}}/application/update/role_profil/{{right['id_role']}}/{{right['id_application']}}">
                        <button type="submit" class="btn btn-outline-success btn-sm">
                            Modifier
                        </button>
                    </a>
                </p>
            {% endfor %}
        </li>
    </ul>
    <br />
    <a href="{{pathU}}{{user['id_role']}}">
        <button type="submit" class="btn btn-success btn-block">
            Modifier l'utilisateur
        </button>
    </a>
</div>