{% import "bootstrap/wtf.html" as wtf %} 
{% include "header.html" %} 
{% include "head-appli.html" %} 

{% block content %}
  <form method="post" class="container" novalidate>
    {{ form.hidden_tag() }} {{ form.csrf_token }}
    <h3 class="margin-neg">{{ title }}</h3>

    <div class="row card forms">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {% for mess in message.values() %}
                {% for m in mess %}
                  {{ m }}<br />
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {{ wtf.form_field(form.nom_liste) }}
      {{ wtf.form_field(form.code_liste) }}
      {{ wtf.form_field(form.desc_liste) }}
      {{ wtf.form_field(form.submit, class="form-control btn-success") }}
    </div>
  </form>
{% endblock %}
