{% include "librairies.html" %}
{% import "wtf_bootstrap_4.html" as wtf %} 
{% include "head-appli.html" %} 

{% block content %}

<form method="post" class="container" novalidate>
  {{ form.hidden_tag() }} {{ form.csrf_token }}
  <h3 class="margin-neg">{{ title }}</h3>

  <div class="row forms card">
    {% include "alert_messages.html" %} 

    {{ wtf.form_field(form.nom_organisme) }}
    {{ wtf.form_field(form.adresse_organisme) }}
    {{ wtf.form_field(form.cp_organisme) }}
    {{ wtf.form_field(form.ville_organisme) }}
    {{ wtf.form_field(form.tel_organisme) }}
    {{ wtf.form_field(form.email_organisme) }}
    {{ wtf.form_field(form.submit, class="form-control btn-success") }}
  </div>
</form>
{% endblock %}
