
<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>

        {% include "head-appli.html" %}
        

            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }} 
                
                    <div class = "row forms">
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                              
                        
                            <label>{{ form.nom_organisme.label }}</label>
                            {{ form.nom_organisme(size=32, class="form-control") }}
                            <p></p>
                        
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                             
                            
                             <label>{{ form.adresse_organisme.label }}</label>
                            {{ form.adresse_organisme(size=32, class="form-control") }}
                            <p></p>
                           
                        </div>
        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                            <label>{{ form.cp_organisme.label }}</label>
                            {{ form.cp_organisme(  class="form-control") }}
                            <p></p>
                        
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    
                                <label>{{ form.ville_organisme.label }}</label>
                                {{ form.ville_organisme(size = 32, class="form-control")}}
                                <p></p>
                             </div>
                            
            
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                                <label>{{ form.tel_organisme.label }}</label>
                                {{ form.tel_organisme(size=32, class="form-control") }}
                                <p></p>
                            
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    
                            <label>{{ form.fax_organisme.label }}</label>
                            {{ form.fax_organisme(size=32, class="form-control") }}
                            <p></p>
                                
                        </div>
            
                            
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                
                            <label>{{ form.email_organisme.label }}</label>
                            {{ form.email_organisme(size=32, class="form-control" )}}
                            <p></p>
                            
                        </div>
        
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        
                                
                            
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <script>
                                    var messages = {{ messages | safe  }};
                                    for (var i=0; i<messages.length; i++) {
                                      alert(messages[i]);
                                    }
                                </script>
                            {% endif %}
                            {% endwith %}
                        
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <p></p>
                            </div>
                            
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <p></p>
                                </div>
                    
        
                        <div class="row justify-content-center">

                            {{ form.submit(class="form-control btn-success") }}    
                        </div>        
                     </div>
                    </form>


                </body>
                </html>    