{% import "bootstrap/wtf.html" as wtf %} 
{%include "header.html" %} 
{% include "head-appli.html" %} 

{% block content %}

<form method="post" class="container" novalidate>
  {{ form.hidden_tag() }} {{ form.csrf_token }}
  <h3 class="margin-neg">{{ title }}</h3>

  <div class="row forms card">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger" role="alert">
          {% for message in messages %}
            {% for mess in message.values() %}
              {% for m in mess %}
                {{ m }}<br />
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {{ wtf.form_field(form.nom_organisme) }}
    {{ wtf.form_field(form.adresse_organisme) }}
    {{ wtf.form_field(form.cp_organisme) }}
    {{ wtf.form_field(form.ville_organisme) }}
    {{ wtf.form_field(form.tel_organisme) }}
    {{ wtf.form_field(form.email_organisme) }}
    {{ wtf.form_field(form.submit, class="form-control btn-success") }}
  </div>
</form>
{% endblock %}
