{% import "wtf_bootstrap_4.html" as wtf %} 
{% include "librairies.html" %} 
{% include "head-appli.html" %} 

{% block content %}
  <form method="post" class="container" novalidate>
    {{ form.hidden_tag() }} {{ form.csrf_token }}
    <h3 class="margin-neg">{{ title }}</h3>

    <div class="row card forms">
      {% include "alert_messages.html" %} 

      {{ wtf.form_field(form.nom_profil) }}
      {{ wtf.form_field(form.code_profil) }}
      {{ wtf.form_field(form.desc_profil) }}
      {{ wtf.form_field(form.submit, class="form-control btn-success") }}
    </div>
  </form>
{% endblock %}
