{% include "librairies.html" %}
{% include "head-appli.html" %}
{% include "alert_messages.html" %}

{% block content %}

      <div class="container-fluid main-zone ng-scope">
        <div class="card p-4 mb-3 bg-secondary border border-0 text-white">
          <h2>{{ name_list }}
            {% if key2 %}
              <a href="{{pathA}}{{key2}}">
                <button type="submit" class="btn btn-outline-success btn-sm border border-white text-white float-right">
            {% else %}
              <a href="{{pathA}}"><button type="submit" class="btn btn-outline-success btn-sm border border-white text-white float-right">
            {% endif %}
                Ajouter {{ name }}
                </button>
              </a>
          </h2>
        </div>

        <div id="table">
          <table class="hover table table-bordered table-striped table-hover table-sm table-responsive-sm" id="tri">
            <thead>
              <tr class="footable-filtering"></tr>
              <tr>
                {% for name in fLine %}
                  <th scope="col">{{ name }}</th>
                {% endfor %}
                {% if passPlusCol == 'True' or passMd5Col %}
                <th style="vertical-align: middle; text-align: center" scope="col">
                  <i title="Modifier le mot de passe" class="fa fa-key font-medium" aria-hidden="true"></i>
                </th>
                {% endif %}
                {% if otherCol == 'True' %}
                  <th style="vertical-align: middle; text-align: center" scope="col">
                    <i title="{{ Members }}" class="fa fa-user font-medium" aria-hidden="true"></i>
                  </th>
                {% endif %}
                {% if tag_orga == 'True' %}
                  <th scope="col">{{ Organismes }}</th>
                {% endif %}
                {% if permissions == 'True' %}
                  <th style="vertical-align: middle; text-align: center" scope="col" title="{{ Right }}"><i class="fa fa-hand-paper-o font-medium" aria-hidden="true"></i></th>
                {% endif %}
                {% if see == 'True' %}
                  <th style="vertical-align: middle; text-align: center" scope="col"><i title="Voir" class="fa fa-eye font-medium" aria-hidden="true"></i></th>
                {% endif %}
                <th style="vertical-align: middle; text-align: center" scope="col"><i title="Modifier" class="fa fa-pencil font-medium" aria-hidden="true"></i></th>
                <th style="vertical-align: middle; text-align: center" scope="col"><i title="Supprimer" class="fa fa-trash font-medium" aria-hidden="true"></i></th>
              </tr>
            </thead>
            <tbody>
              {% for elt in table %}
                <tr>
                  {% for name in line %}
                    {% set groups = elt[group] %}
                    {% if groups == 'True' %}
                      <td style="vertical-align: middle;" class="table-primary">{{ elt[name] }}</td>
                    {% else %}
                      <td style="vertical-align: middle;">{{ elt[name] }}</td>
                    {% endif %}
                  {% endfor %}

                  {% if passPlusCol == 'True' or passMd5Col == 'True' %}
                    <td style="vertical-align: middle; text-align: center">
                      {% if elt['pass_plus'] == 'Oui' or elt['pass_md5'] == 'Oui'%}
                        {% set pass_plus_action = 'Modifier le mot de passe' %}
                        {% set pass_class = 'secondary' %}
                      {% else %}
                        {% set pass_plus_action = 'Ajouter un mot de passe' %}
                        {% set pass_class = 'light' %}
                      {% endif %}
                        <a href="{{pathZ}}{{elt[key]}}">
                          <button type="submit" class="btn btn-{{pass_class}} btn-sm " title="{{pass_plus_action}}">
                            <i class="fa fa-key font-medium" aria-hidden="true" title="{{pass_plus_action}}"></i>
                          </button>
                        </a>
                    </td>
                  {% endif %}

                  {% if otherCol == 'True' %}
                  <td style="vertical-align: middle; text-align: center">
                    <a href="{{pathP}}{{elt[key]}}">
                      <button type="submit" class="btn btn-secondary btn-sm ">
                        <i class="fa fa-user font-medium" aria-hidden="true" title="Voir les membres"></i>
                      </button>
                    </a>
                  </td>
                  {% endif %}

                  {% if permissions == 'True' %}
                  <td style="vertical-align: middle; text-align: center">
                    <a href="{{pathR}}{{elt[key]}} " title="{{Right}}">
                      <button type="submit" class="btn btn-secondary btn-sm ">
                        <i class="fa fa-hand-paper-o font-medium" aria-hidden="true"></i>
                      </button>
                    </a>
                  </td>
                  {% endif %}

                  {% if see == 'True' %}
                    <td style="vertical-align: middle; text-align: center">
                      <a href="{{pathI}}{{elt[key]}}">
                        <button type="submit" class="btn btn-secondary btn-sm ">
                          <i class="fa fa-eye font-medium" aria-hidden="true"></i>
                        </button>
                      </a>
                    </td>
                  {% endif %}

                  <td style="vertical-align: middle; text-align: center">
                      {% if key2 %}
                      <a href="{{pathU}}{{elt[key]}}/{{key2}} ">
                      {% else %}
                      <a href="{{pathU}}{{elt[key]}}">
                      {% endif %}
                      <button type="submit" class="btn btn-secondary btn-sm">
                        <i class="fa fa-pencil font-medium" aria-hidden="true" title="Editer {{name}}"></i>
                      </button>
                    </a>
                  </td>
                  <td style="vertical-align: middle; text-align: center">
                    {% if key2 %}
                    <button onClick="deleteRaw('{{pathD}}{{elt[key]}}/{{key2}} ')" type="submit" class="btn btn-danger btn-sm">
                    {% else %}
                      <button onClick="deleteRaw('{{pathD}}{{elt[key]}} ')" type="submit" class="btn btn-danger btn-sm">
                    {% endif %}
                      <i class="fa fa-trash font-medium" aria-hidden="true"title="Supprimer {{name}}"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>

{% endblock content %}