<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>

        {% include "head-appli.html" %}

        

     
     <div class = "container main-zone ng-scope">
    <h2>{{name_list}}</h2>         
    <p>
        <a href="{{pathA}}"  ><button type="submit" class="btn btn-success btn-sm" >Ajouter {{name}}</button></a>

        {% if tag_orga == 'True'%}
            <a  href="{{ url_for('tags_types.tags_types') }}"><button type="submit" class="btn btn-success btn-sm" >Accéder aux types de tags</button></a>
        {% endif %}
    </p>
    
    </div>
    <div class="container main-zone ng-scope ">
    
    
    <div id='table'>
    
    <table class="table table-bordered table-striped table-sm " id = "tri">
        <thead>
            <tr class="footable-filtering"></tr>
            <tr>
                
                {% for name in fLine %}
                <th scope="col">{{name}}</th>
                {% endfor %}
                {#{% set otherCols =  otherCol %}#}
                {% if otherCol == 'True'%}
                    <th scope="col">{{Members}}</th>
                {%endif%}
                {% if tag_orga == 'True'%}
                    <th scope="col">{{Organismes}}</th>
                {% endif %}
                {% if tag_app == 'True'%}
                    <th scope="col">{{App}}</th>
                {% endif %}
                {% if app_geonature == 'True' %}
                    <th scope="col">{{Members}}</th>
                {%endif%}
                {% if see == 'True'%}
                    <th scope="col">Voir</th>
                {%endif%}
                <th scope="col">Modification</th>
                <th scope="col">Suppression</th>
            </tr> 

        </thead>
        <tbody>
            {% for elt in table %}
            <tr >   
            
                {% for name in line %}  
                {% set groups = elt[group] %}  
                {% if groups == 'True' %}    
                    <td class = "table-primary" >{{elt[name]}}</td>
                {% else %}
                    <td >{{elt[name]}}</td>
                {% endif%} 
                {% endfor %}

               
            {% set type_tag = elt['id_tag_type'] %}
            {% if type_tag == 4 %}
            {% if otherCol == 'True'%}
            <td>
                    <a href="{{pathP}}{{elt[key]}}"  > <button type="submit" class="btn btn-secondary btn-sm " ><i class="fa fa-user font-medium" aria-hidden="true"></i>
                    </button></a>

            </td>
            {%endif%}

           
            {% if tag_orga == 'True'%}

            <td>
                <a href="{{pathO}}{{elt[key]}}"  > <button type="submit" class="btn btn-secondary btn-sm" ><i class="fa fa-university font-medium" aria-hidden="true"></i>
                </button></a>

            </td>
            
            {% endif %}

            {% if tag_app == 'True'%}

            <td>
                <a href="{{pathApp}}{{elt[key]}}"  > <button type="submit" class="btn btn-secondary btn-sm" ><i class="fa fa-desktop font-medium" aria-hidden="true"></i>
                </button></a>

            </td>
            
            {% endif %}
            {% elif  tag_app == 'True' %}

            <td></td>
            <td></td>
            <td></td>

            {% else %}

            {% if otherCol == 'True'%}
            <td>
                    <a href="{{pathP}}{{elt[key]}}"  > <button type="submit" class="btn btn-secondary btn-sm " ><i class="fa fa-user font-medium" aria-hidden="true"></i></button></a>

            </td>
            {%endif%}
            {% if see == 'True'%}
            <td>
                    <a href="{{pathI}}{{elt[key]}}"  > <button type="submit" class="btn btn-secondary btn-sm " ><i class="fa fa-eye font-medium" aria-hidden="true"></i></button></a>
            </td>
            {%endif%}

            {% endif %}

            {% if elt['id_application'] != id_geonature and elt['id_parent']!= id_geonature %}
            <td>
                <a href="{{pathP}}{{elt[key]}}"  > <button type="submit" class="btn btn-secondary btn-sm " ><i class="fa fa-user font-medium" aria-hidden="true"></i>
                </button></a>

            </td>

            {%elif app_geonature == 'True'%}
            <td></td>
            {%endif%}

                <td>
                        <a href="{{pathU}}{{elt[key]}}"  > <button type="submit" class="btn btn-secondary btn-sm" ><i class="fa fa-pencil font-medium" aria-hidden="true"></i>
                        </button></a>

                </td>
                <td >
                    <button onClick = "deleteRaw('{{pathD}}{{elt[key]}} ')" type="submit" class="btn btn-danger btn-sm" ><i class="fa fa-trash font-medium" aria-hidden="true"></i>
                    </button>
                </td>
                
                  
                </tr>
            {% endfor %}
           
        </tbody>
    </table>
    </div>

</div>

    
</body>
</html>


