<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}


      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-success" role="alert">
              {% for mess in messages %}
                  {{ mess }}
              {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <div class="container main-zone ng-scope">
        <h2>{{ name_list }}</h2>
        <p>
          {% if key2 %}
          <a href="{{pathA}}{{key2}}"><button type="submit" class="btn btn-success btn-sm">

          {% else %}
          <a href="{{pathA}}"><button type="submit" class="btn btn-success btn-sm">
          {% endif %}
          Ajouter {{ name }}
          </button></a>
        </p>
      </div>
      <div class="container main-zone ng-scope ">
        <div id="table">
          <table class="table table-bordered table-striped table-sm " id="tri">
            <thead>
              <tr class="footable-filtering"></tr>
              <tr>
                {% for name in fLine %}
                  <th scope="col">{{ name }}</th>
                {% endfor %} 
                {#{% set otherCols = otherCol %}#} 
                {% if otherCol == 'True'%}
                  <th scope="col">{{ Members }}</th>
                {%endif%} 
                {% if tag_orga == 'True'%}
                  <th scope="col">{{ Organismes }}</th>
                {% endif %} 
                {% if permissions == 'True' %}
                  <th scope="col">{{ Right }}</th>
                {%endif%} 
                {% if see == 'True'%}
                  <th scope="col">Voir</th>
                {%endif%}
                <th scope="col">Modification</th>
                <th scope="col">Suppression</th>
              </tr>
            </thead>
            <tbody>
              {% for elt in table %}
                <tr>
                  {% for name in line %} 
                    {% set groups = elt[group] %} 
                    {% if groups == 'True' %}
                      <td class="table-primary">{{ elt[name] }}</td>
                    {% else %}
                      <td>{{ elt[name] }}</td>
                    {% endif%} 
                  {% endfor %} 
                  {% set type_tag = elt['id_tag_type'] %} 
                  
                  {% if otherCol == 'True'%}
                    <td align="center">
                      <a href="{{pathP}}{{elt[key]}}">
                        <button type="submit" class="btn btn-secondary btn-sm ">
                          <i class="fa fa-user font-medium" aria-hidden="true"></i></button></a>
                    </td>
                  {%endif%}

                  {% if permissions == 'True'%}
                  <td align="center">
                    <a href="{{pathR}}{{elt[key]}} ">
                      <button type="submit" class="btn btn-secondary btn-sm ">
                        <i class="fa fa-user font-medium" aria-hidden="true"></i></button></a>
                  </td>
                  {%endif%}

                  {% if see == 'True'%}
                    <td align="center">
                      <a href="{{pathI}}{{elt[key]}}">
                        <button type="submit" class="btn btn-secondary btn-sm ">
                          <i class="fa fa-eye font-medium" aria-hidden="true"></i></button></a>
                    </td>
                  {%endif%}

                  {%if permissions == 'True'%}
                    <td></td>
                  {%endif%}
        
                  <td align="center">
                      {% if key2 %}
                      <a href="{{pathU}}{{elt[key]}}/{{key2}} ">
                      {% else %}
                      <a href="{{pathU}}{{elt[key]}}">
                      {% endif %}
                      <button type="submit" class="btn btn-secondary btn-sm">
                        <i class="fa fa-pencil font-medium" aria-hidden="true"></i></button></a>
                  </td>
                  <td align="center">
                    {% if key2 %}
                    <button onClick="deleteRaw('{{pathD}}{{elt[key]}}/{{key2}} ')" type="submit" class="btn btn-danger btn-sm">
                    {% else %}
                      <button onClick="deleteRaw('{{pathD}}{{elt[key]}} ')" type="submit" class="btn btn-danger btn-sm">
                    {% endif %}
                      <i class="fa fa-trash font-medium" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </body>
</html>
