{% include "librairies.html" %} 
{% include "head-appli.html" %}
{% include "alert_messages.html" %} 

<div class="container-fluid main-zone ng-scope">
    <div class="card p-4 mb-3 bg-secondary border border-0 text-white">
      <h2>Demandes de compte en cours

          </a>
      </h2>
    </div>

{% extends "generic_table.html" %}


  {% block table_head %}

  <th 
    style="vertical-align: middle; text-align: center">
    <i 
      class="fa fa-check" 
      aria-hidden="true">
    </i>
  </th>
    <th 
    style="vertical-align: middle; text-align: center" >
    <i 
      class="fa fa-trash" 
      aria-hidden="true">
    </i>
  </th>
  {% endblock table_head %}


  {% block table_td %}

  <td> 
    <a href=" {{url_for('temp_users.validate', token=elt.token_role, id_application=elt.id_application)}} ">
        <button class="btn btn-success">    
            <i 
              title="Valider l'utilisateur temporaire" 
              class="fa fa-check" 
              aria-hidden="true">
            </i> 
          </button> 
    </a>

  </td>

  <td> 
      <a href=" {{url_for('temp_users.delete', token=elt.token_role)}} ">
          <button class="btn btn-danger">    
              <i 
                title="Supprimer l'utilisateur temporaire" 
                class="fa fa-trash " 
                aria-hidden="true">
              </i> 
            </button> 
      </a>
  
    </td>

  {% endblock table_td %}

</div>








