<!DOCTYPE html>
<html>
   {% include "header.html" %}   

   <body>

        {% include "head-appli.html" %}

        <p>Listes des Utilisateurs</p>
        <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
             
             <table  id="user" class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            {% for name in fLine %}
                            <th scope="col">{{name}}</th>
                            {% endfor %}
                        </tr> 
            
                    </thead>
                    <tbody>
                        {#{% set group = group %}#}
                        {% if group == 'True' %}
                            {% for elt in table3 %}
                        
                            <tr >  
                                    <td><input id="checkBox" type="checkbox"> </td> 
                                {% for name in line %}  
                                    
                                    <td class="table-secondary">{{elt[name]}}</td>
                                    {% endfor %}
                                        
                            {% endfor %}
                            </tr>
                        {% endif %}

                        {% for elt in table %}
                            <tr>
                                 <td><input id="checkBox" type="checkbox"> </td>    
                            {% for name in line %}  
                                
                                <td>{{elt[name]}}</td>
                            {% endfor %}
                                    
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>   
            </div>
            
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <table  id="test"  class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    {% for name in fLine2 %}
                                    <th scope="col">{{name}}</th>
                                    {% endfor %}
                                </tr> 
                    
                            </thead>
                            <tbody>
                                {% for elt in table2 %}
                                <tr>   
                                    {% for name in line2 %}  
                                   
                                        <td>{{elt[name]}}</td>
                                        
                                        {% endfor %}         
                                {% endfor %} 
                                </tr>
                            </tbody>
                        </table>
        
        
                    </div>
       
        <button  id="transfert" class ="btn btn-success btn-sm"> Valider</button>
        </div>


      

 
    
</body>
</html>
    
    