
{% include "librairies.html" %}
{% import "wtf_bootstrap_4.html" as wtf %} 
{% include "head-appli.html" %}


{% block content %}

  <form method="POST" class="container" novalidate>
    <h3 class="margin-neg">{{ title }}</h3>

    {{ form.hidden_tag() }}

    <div class="row forms card">
      {% include "alert_messages.html" %} 

      {{ wtf.form_field(form.active) }}
      {{ wtf.form_field(form.nom_role) }}
      {{ wtf.form_field(form.prenom_role) }}
      {{ wtf.form_field(form.identifiant) }}
      {{ wtf.form_field(form.id_organisme, id="inputGroupSelect01") }}
      {% if not id_role %}
        {{ wtf.form_field(form.pass_plus) }}
        {{ wtf.form_field(form.mdpconf) }}
      {% endif %}
      <label style="margin-bottom: -15px!important;" for="a_group"> Groupe <small> (Ctrl+clic pour ajouter/retirer des items)</small></label>
      {{ wtf.form_field(form.a_groupe) }} 
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.remarques) }}
      {{ wtf.form_field(form.champs_addi) }}
      {{ wtf.form_field(form.submit, class="btn btn-success") }}
    </div>
  </form>

{% endblock %}
